body {
  background: #DDD;
}

#best-genome {
    float: left;
}

#raphael-graph {
    float: right;
}

.clear-both {
    clear: both;
}

.correct {
    background: #7F7;
}

.incorrect {
    background: #F77;
}